# Dependencies
node_modules/
**/node_modules/

# Environment variables (JANGAN di-push ke GitHub!)
.env
**/.env

# Build output
dist/
build/
**/dist/
**/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
